<div class="card ng-drop-element">
  <div class="name">{{card.name}}</div>
  <div class="data">
    <div class="address">
      <span>Address: </span>
      <span>{{card.username}}</span>
      <b>@{{card.address}}</b>
    </div>
    <div class="last-connection">
      <span>Last connection: </span>
      <b>{{!card.lastConnection ? '-' : card.lastConnection | date: 'dd.MM.yyyy HH:mm' }}</b>
    </div>
  </div>
  <div class="buttons">
    <button class="btn danger" (click)="deleteCard.emit(card)" >
      <i class="fas fa-trash"></i>
    </button>
    <button class="btn" (click)="selectCard.emit(card)" >
      <i class="fas fa-edit"></i>
    </button>
    <!-- <button class="btn external" (click)="connectExternal.emit(card)">
      <i class="fas fa-external-link-alt"></i>
    </button> -->
    <button class="btn info" (click)="fileTransfer.emit(card)">
      <i class="fas fa-folder-open"></i>
    </button>
    <button class="btn dark" (click)="connectCard.emit(card)">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
