<div class="card ng-drop-element">
  <div class="name">{{card.name}}</div>
  <div class="data">
    <div class="address">
      <span>Address: </span>

      <ng-container *ngIf="card.connection; else localTerminal">
        <span>{{card.connection?.username}}</span>
        <b>@{{card.connection?.address}}</b>
      </ng-container>

      <ng-template #localTerminal>
        <b>Local terminal</b>
      </ng-template>
    </div>
    <div class="location">
      <span>Location: </span>
      <b>{{card.location}}</b>
    </div>
  </div>
  <div class="buttons">
    <button class="btn danger" (click)="deleteCard.emit(card)">
      <i class="fas fa-trash"></i>
    </button>
    <button class="btn" (click)="selectCard.emit(card)">
      <i class="fas fa-edit"></i>
    </button>
    <!-- <button class="btn external" (click)="connectExternal.emit(card)">
      <i class="fas fa-external-link-alt"></i>
    </button> -->
    <button class="btn dark" (click)="connectCard.emit(card)">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>