@import "variables";
@import "mixins";

:host {
  .file-transfer-container {
    @include set-size-max-size(100%);
    @include set-flex-direction(column);
    background-color: var(--background);

    &.column .browsers {
      flex-direction: column;

      app-file-browser {
        &:first-of-type {
          border-right: none;
          border-bottom: 1px solid var(--terminal-border-color);
        }
      }
    }

    .browsers {
      @include set-size-max-size(100%);
      @include set-flex-direction(row);
      overflow: hidden;

      app-file-browser {
        @include set-size-max-size(100%);
        overflow: hidden;

        &:first-of-type {
          border-right: 1px solid var(--terminal-border-color);
        }

        .pointer {
          cursor: pointer;
        }
      }
    }

    .queue {
      @include set-flex-direction(column);

      gap: 0.25rem;
      height: 25%;
      overflow: auto;
      max-height: 25%;
      padding: 0.5rem 1rem;
      border-top: 1px solid var(--file-browser-border);

      .file-group {
        @include set-flex-direction();
        gap: 0.5rem;

        .title {
          @include set-flex(space-between, center);
          cursor: pointer;
          padding: 0.25rem;
          padding-left: 0;
          font-weight: bold;
          color: var(--light-accent);
          border-bottom: 1px solid var(--light-accent);

          .name-group {
            @include set-flex(flex-start, center);
            gap: 0.75rem;
          }
        }

        &.waiting {
          .title {
            color: var(--file-transfer-pending);
            border-color: var(--file-transfer-pending);
          }

          .file i,
          .file .name {
            color: var(--file-transfer-pending);
          }
        }

        &.downloads {
          .title {
            color: var(--file-transfer-downloading);
            border-color: var(--file-transfer-downloading);
          }

          .file i,
          .file .name {
            color: var(--file-transfer-downloading);
          }

          .file .prc {
            background-image: linear-gradient(
              to right,
              var(--dark-shade) var(--prc),
              rgba(var(--dark-shade-rgb), 0.7) var(--prc)
            );
          }
        }
      }

      .file {
        @include set-flex(space-between, center);
        gap: 1rem;

        i {
          color: var(--light-accent);
        }

        .name {
          @include set-ellipsis(100%);
          color: var(--light-accent);
          text-align: left;
          font-weight: bold;
        }

        .prc {
          @include set-size-min-size(50%, 100%);
          @include set-size-max-size(50%, 100%);
          color: white;
          text-align: center;
          position: relative;
          background-image: linear-gradient(
            to right,
            var(--light-accent) var(--prc),
            rgba(var(--light-accent-rgb), 0.7) var(--prc)
          );
        }
      }
    }
  }
}
