<div class="file-transfer-container" [class.column]="isDirectionColumn">
  <div class="browsers">
    <!-- Local file b5rowser -->
    <app-file-browser [handler]="localHandler" [allowMultiple]="true" title="Local files" selectFolderTitle="Upload folder"
      selectFileTitle="Upload file">

      <ng-container header-actions [ngTemplateOutlet]="fileBrowserButtons"
        [ngTemplateOutletContext]="{ advanced: isDirectionColumn }"></ng-container>
    </app-file-browser>

    <!-- Remote file browser -->
    <app-file-browser [handler]="sftpHandler" [allowMultiple]="true" [data]="connection" title="Remote files" selectFolderTitle="Download folder"
      selectFileTitle="Download file">

      <ng-container header-actions [ngTemplateOutlet]="fileBrowserButtons"
        [ngTemplateOutletContext]="{ advanced: !isDirectionColumn }"></ng-container>
    </app-file-browser>
  </div>

  <div class="queue" *ngIf="uploading.length || downloading.length || waiting.length">
    <div class="file-group" *ngIf="uploading.length">
      <div class="title" (click)="switchUploads()">
        <div class="name-group">
          <i class="fas fa-upload"></i>
          Uploading - {{ uploading.length }}
        </div>

        <i class="fas" [class.fa-chevron-down]="uploadsExpanded" [class.fa-chevron-up]="!uploadsExpanded"></i>
      </div>

      <ng-container *ngIf="uploadsExpanded" [ngTemplateOutlet]="fileTransferTemplate"
        [ngTemplateOutletContext]="{ queue: uploading, icon: 'upload' }"></ng-container>
    </div>

    <div class="file-group downloads" *ngIf="downloading.length">
      <div class="title" (click)="switchDownloads()">
        <div class="name-group">
          <i class="fas fa-download"></i>
          Downloading - {{ downloading.length }}
        </div>

        <i class="fas" [class.fa-chevron-down]="downloadsExpanded" [class.fa-chevron-up]="!downloadsExpanded"></i>
      </div>

      <ng-container *ngIf="downloadsExpanded" [ngTemplateOutlet]="fileTransferTemplate"
        [ngTemplateOutletContext]="{ queue: downloading, icon: 'download' }"></ng-container>
    </div>

    <div class="file-group waiting" *ngIf="waiting.length">
      <div class="title" (click)="switchWaiting()">
        <div class="name-group">
          <i class="fas fa-clock"></i>
          Waiting - {{ waiting.length }}
        </div>
        
        <i class="fas" [class.fa-chevron-down]="waitingExpanded" [class.fa-chevron-up]="!waitingExpanded"></i>
      </div>

      <ng-container *ngIf="waitingExpanded">
        <div class="file" *ngFor="let file of waiting">
          <i class="fas fa-clock"></i>
          <div class="name">{{ file.path }}</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #fileBrowserButtons let-advanced="advanced">
  <!-- <i class="fas fa-terminal pointer" (click)="addTerminal.emit()"></i> -->

  <ng-container *ngIf="advanced">
    <i class="fas fa-columns pointer" [class.rotated-icon]="!isDirectionColumn" (click)="toggleDirection()"></i>
    <i class="fas fa-times pointer" (click)="exit.emit()"></i>
  </ng-container>
</ng-template>

<ng-template #fileTransferTemplate let-icon="icon" let-queue="queue">
  <div class="file" *ngFor="let file of queue">
    <i class="fas fa-{{icon}}"></i>
    <div class="name">{{ file.path }}</div>
    <div class="prc" [style]="'--prc:' + file.prc + '%'">
      {{ file.prc }}% ({{ file.prettyTransfered }} / {{ file.prettyFileSize }})
    </div>
  </div>
</ng-template>