@import "variables";
@import "mixins";

:host {
  @include set-size(100%);
  color: var(--text-color);

  .sort-menu li:not(.active) {
    transition: color 0.3s;
    color: #ffffff88;

    &:hover {
      color: #ffffffbb;
    }
  }

  .file-browser-container {
    @include set-size(100%);
    @include set-flex-direction(column);
    background-color: var(--background);

    .title i,
    .location i {
      cursor: pointer;

      &.disabled {
        pointer-events: none;
        opacity: 0.2;
      }
    }

    .title {
      @include set-flex(space-between, center);
      @include set-colors(var(--background), var(--text-color));
      padding: 1rem;
      width: 100%;

      .right {
        @include set-flex-gap(1rem);
      }
    }

    .location {
      @include set-flex(flex-start, center);
      width: 100%;
      gap: 1.5rem;
      padding: 0 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--file-browser-border);

      input {
        width: 100%;
        border-radius: 0;
      }

      &.padding {
        padding-top: 1rem;
      }
    }

    .content {
      @include set-flex(flex-start);
      @include set-size-max-size(100%);
      flex-direction: column;
      overflow: hidden;

      app-searchbar {
        width: 100%;
        padding: 0.25rem 1rem;
        border-bottom: 1px solid var(--file-browser-border);
      }

      .files {
        @include set-flex(flex-start);
        @include set-size-max-size(100%);
        align-content: flex-start;
        overflow: auto;
        flex-wrap: wrap;
        padding: 1rem;

        &.list {
          flex-direction: column;
          flex-wrap: nowrap;

          .file {
            @include set-size-min-size(100%, fit-content);
            flex-direction: row;
            gap: 1rem;

            i {
              @include set-size-min-size(1.5rem, unset);
              text-align: center;
              font-size: 1.5rem;
            }

            .filename {
              text-align: start;

              input {
                padding: 0;
                border: none;
                background-color: transparent;
              }
            }

            .details {
              width: fit-content;
              white-space: nowrap;
            }
          }
        }
      }

      .file {
        @include set-flex(center);
        @include set-size-min-size(5rem, fit-content);
        max-width: 5rem;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem;
        cursor: pointer;
        user-select: none;
        color: var(--text-color);
        // border-radius: 10px;

        &.selected {
          background-color: rgba(var(--dark-shade-rgb), 0.18);

          &:focus {
            background-color: rgba(var(--dark-shade-rgb), 0.2);

            &.folder {
              background-color: rgba(var(--light-accent-rgb), 0.2);
            }
          }
        }

        &:hover {
          background-color: rgba(var(--dark-shade-rgb), 0.2);
        }

        &.folder {
          &:hover {
            background-color: rgba(var(--light-accent-rgb), 0.2);
          }

          i {
            color: var(--light-accent);
          }
        }

        i {
          color: var(--dark-shade);
          font-size: 2rem;
        }

        .filename {
          @include set-ellipsis(100%);
          width: 100%;
          position: relative;
          text-align: center;
        }
      }
    }

    .additional-content {
      padding: 0.5rem 1rem;
      border-top: 1px solid var(--file-browser-border);
    }

    .footer-buttons {
      @include set-flex(space-between, center);
      gap: 1rem;
      width: 100%;
      padding: 0.75rem 1rem;
      border-top: 1px solid var(--file-browser-border);

      .action-buttons {
        @include set-flex-gap(1rem);

        .btn {
          width: fit-content;
        }
      }
    }
  }
}
