<div class="file-browser-container">
  <div class="title" *ngIf="!hideTitle">
    <div class="left"></div>
    <div class="center">{{ title || 'File browser' }}</div>
    <div class="right">
      <ng-content select="[header-actions]"></ng-content>
      <i *ngIf="exit.observers.length" (click)="exit.emit()" class="fas fa-times"></i>
    </div>
  </div>

  <div class="location" [class.padding]="hideTitle">
    <i class="fas fa-arrow-left" [class.disabled]="!handler.canGoBack" (click)="handler.goBack()"></i>
    <i class="fas fa-arrow-up" (click)="handler.goUp()"></i>

    <div class="btn-group dropdown-group" *ngIf="showFolder" dropdown>
      <i class="fas fa-folder" dropdownToggle></i>

      <ul class="dropdown-menu right-side" *dropdownMenu>
        <li *ngFor="let shortcut of shortcuts" (click)="useShortcut(shortcut)">{{ shortcut.name }}</li>
        <li *ngIf="!shortcuts.length"><i>No shortcuts</i></li>

        <li class="divider-container">
          <div class="divider"></div>
        </li>

        <li class="action-with-icon" (click)="newShortcutForm()">
          <i class="fas fa-plus"></i>
          New shortcut
        </li>
      </ul>
    </div>

    <input type="text" (keyup.enter)="usePath()" [(ngModel)]="inputPath" class="form-control">

    <i class="fas fa-arrow-right" (click)="usePath()"></i>

    <i class="fas fa-refresh" (click)="handler.refreshData()"></i>

    <i class="fas" [class.fa-bars]="!isList" [class.fa-th]="isList" (click)="toggleList()"></i>

    <div class="btn-group dropdown-group" dropdown>
      <i class="fas fa-sort-amount-down" dropdownToggle></i>

      <ul class="dropdown-menu sort-menu" *dropdownMenu>
        <li *ngFor="let sort of sortFields" [class.active]="sort.field === handler.sort"
          (click)="handler.sortFiles(sort.field)">
          <i class="fas fa-{{ sort.icon }}"></i>
          {{ sort.name }}
        </li>

        <li class="divider-container">
          <div class="divider"></div>
        </li>

        <li *ngFor="let direction of sortDirections" [class.active]="direction.dir === handler.sortDir"
          (click)="handler.setSortDir(direction.dir)">
          <i class="fas fa-{{ direction.icon }}"></i>
          {{ direction.name }}
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <app-searchbar class="white no-shadow" *ngIf="searchEnabled" (find)="onSearch($event)" [noArrows]="true"
      (disable)="onSearchDisable()"></app-searchbar>

    <div class="files" [class.list]="isList">
      <div class="file folder new-file" *ngIf="addingFolder">
        <i class="fas fa-folder-plus"></i>

        <div class="filename">
          <input #newFolderName (keyup.enter)="addNewFolder(newFolderName.value)" (keyup.esc)="addingFolder = false"
            (blur)="addingFolder = false" type="text" placeholder="Enter folder name" class="form-control">
        </div>
      </div>

      <div *ngFor="let file of files" tabindex="0" (click)="selectFile(file, $event)" (dblclick)="handleDdblClick(file)"
        (keydown.f2)="enableRenaming(file, nameElement)" [class.folder]="file.isDirectory"
        [class.selected]="selectedFiles.includes(file)" class="file">

        <i class="fas" [class.fa-folder]="file.isDirectory" [class.fa-file]="!file.isDirectory"></i>

        <div class="filename" #nameElement>
          <span *ngIf="!file.renaming">{{ file.name }}</span>
          <input *ngIf="file.renaming" #nameInput (blur)="file.renaming = false"
            (keyup.enter)="rename(file, nameInput.value)" (keyup.esc)="file.renaming = false" class="form-control"
            [value]="file.name" />
        </div>

        <ng-container *ngIf="isList">
          <div class="details" *ngIf="!file.isDirectory">{{ file.prettyFileSize }}</div>
          <div class="details">{{ file.modifyDate | date: 'dd.MM.yyyy HH:mm' }}</div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="additional-content" #additionalContent [hidden]="!additionalContent.firstElementChild">
    <ng-content select="[additional-content]"></ng-content>
  </div>

  <div class="footer-buttons" *ngIf="displayFooter">
    <div class="custom-actions">
      <ng-content select="[custom-actions-left]"></ng-content>
    </div>

    <div class="action-buttons">
      <button (click)="deleteFiles()" [disabled]="!selectedFiles.length" class="btn danger with-icon">
        <i class="fas fa-trash"></i>
        Delete
      </button>

      <button class="btn with-icon" (click)="enableNewFolder()">
        <i class="fas fa-folder"></i>
        New folder
      </button>

      <button *ngIf="handler.selectFiles$.observers.length" [disabled]="!selectedFiles.length" (click)="handleFile()"
        class="btn dark with-icon">
        <i class="fas fa-file"></i>
        {{ selectFileTitle || 'Select file' }}
      </button>

      <button *ngIf="handler.selectFolder$.observers.length"
        [disabled]="!allowCurrentDirectory && !selectedFiles[0]?.isDirectory" (click)="selectPath()"
        class="btn dark with-icon">
        <i class="fas fa-folder"></i>
        {{ selectFolderTitle || 'Select folder' }}
      </button>

      <div class="custom-actions">
        <ng-content select="[custom-actions-right]"></ng-content>
      </div>
    </div>
  </div>
</div>
