@import "variables";
@import "mixins";

:host {
  &.white {
    .search-group {
      box-shadow: 0rem 0rem 1rem var(--light-accent);

      input {
        @include set-colors(var(--background), var(--light-accent));
        font-weight: bold;

        &::placeholder {
          color: var(--light-accent);
        }
      }

      button {
        @include set-colors(var(--background) !important, var(--light-accent) !important);
      }
    }
  }

  &.no-shadow .search-group {
    box-shadow: none;
  }
  
  .search-group {
    @include set-flex(center);
    width: 100%;
    min-width: 15rem;
    box-shadow: 0rem 0rem 1rem var(--searchbar-shadow);

    input {
      @include set-colors(var(--searchbar-dark-color), var(--side-nav-color));
      padding: 0.45rem;
      border: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &::placeholder {
        color: var(--side-nav-color);
      }
    }

    button {
      @include set-colors(var(--searchbar-dark-color), var(--side-nav-color));
      width: fit-content;
      border-radius: 0;

      &:last-of-type {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }
}
