<div class="search-group" (keydown.esc)="disableSearchbar($event)" (keydown.shift.enter)="findPrevious.next(search.value)"
  (keydown.enter)="findNext.next(search.value)">

  <input type="text" placeholder="Search" #search [(ngModel)]="currentContent"
    (ngModelChange)="changeEvent$.next($event)" class="search-input form-control">
  
  <button class="btn dark no-animation" *ngIf="!noArrows" (click)="findPrevious.next(search.value)">
    <i class="fas fa-arrow-left"></i>
  </button>
  
  <button class="btn dark no-animation" *ngIf="!noArrows" (click)="findNext.next(search.value)">
    <i class="fas fa-arrow-right"></i>
  </button>

  <button class="btn dark no-animation" *ngIf="noArrows" (click)="find.next(search.value)">
    <i class="fas fa-magnifying-glass"></i>
  </button>
</div>