@keyframes pulse {
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  15% {
    transform: translate(-.25rem);
  }
  30% {
    transform: translate(.25rem);
  }
  45% {
    transform: translate(-.25rem);
  }
  60% {
    transform: translate(.25rem);
  }
  75% {
    transform: translate(-.25rem);
  }
  90% {
    transform: translate(.25rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes rotate {
  from { 
    transform: rotateY(0deg)
  }
  to { 
    transform: rotateY(360deg)
  }
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-background {
  from {
    background-size: 0%;
  }
  to {
    background-size: 15rem;
  }
}

@keyframes slide-background-reverse {
  from {
    background-size: 15rem;
  }
  to {
    background-size: 0%;
  }
}