@import 'mixins';
@import 'variables';

@import "../assets/fontawesome/scss/fontawesome.scss";
@import "../assets/fontawesome/scss/solid.scss";
@import "../assets/fontawesome/scss/brands.scss";

.input-with-button {
  .two-inline {
    gap: 0;
  }

  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: fit-content;
  }  
}

.form-control, .btn {
  box-shadow: none !important;

  &:disabled {
    opacity: .75;
  }

  &:focus, &:active {
    box-shadow: none !important;
  }
}

.form-group {
  &.select-form {      
    position: relative;
    
    &::after {
      @extend %fa-icon;
      @extend .fas;

      bottom: 1.85rem;
      right: 1rem;
      position: absolute;
      color: var(--darkest-shade);
      content: fa-content($fa-var-sort-down);
    }
  }
}

.form-control {
  border-radius: 0;
  background-clip: unset;

  &, &:hover, &:active, &:focus, &:disabled, &[readonly] {
    color: var(--input-color);
    border-color: var(--input-border);
    background-color: var(--input-background);
  }

  &:disabled, &[readonly] {
    opacity: .75;
  }
}

.btn {
  @include set-colors(var(--light-accent), var(--side-nav-color));
  position: relative;
  border-radius: 0;
  width: 100%;

  input[type="file"] {
    @include set-size(100%);
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;

    &::-webkit-file-upload-button {
      cursor: pointer;
    }
  }

  &:not(.no-animation) {
    @include hover-scale-up();
  }

  &:hover {
    color: var(--side-nav-color) !important;
  }

  &.dark {
    @include set-colors(var(--dark-shade), white);
  }

  &.info {
    @include set-colors(var(--main-color), white);
  }

  &.danger {
    @include set-colors($danger, white);
  }

  &.accent {
    @include set-colors(var(--dark-accent), white);
  }

  &.cancel {
    @include set-colors(var(--light-shade), var(--dark-shade));

    &:hover {
      color: var(--dark-shade) !important;
    }
  }

  &.with-icon {
    @include set-flex(unset, center);
    gap: .75rem;
  }

  &.icon-btn {
    @include set-flex(unset, center);

    span {
      width: 100%;
    }
  }
}