@import 'variables';
@import 'mixins';

.loader-container {
  @include set-flex(center);

  .app-loader {
    @include set-size(10rem, 10rem);
    @include set-shadow(var(--dark-shadow));
    animation: rotate linear 3s infinite;
    background: linear-gradient(var(--dark-shade) 50%, var(--light-accent) 100%);
    border-radius: 50%;
  }
}