@import "variables";
@import "mixins";

.dropdown-menu {
  box-shadow: 0rem 0rem 1rem var(--side-nav-shadow);
  padding: 0;

  &:not(.right-side) {
    inset: 100% 0px auto auto !important;
  }

  li {
    @include set-colors(var(--dropdown-color), var(--side-nav-color));
    min-width: max-content;
    cursor: pointer;
    padding: 0.5rem;

    &.divider-container {
      padding: 0.35rem 0.5rem;

      .divider {
        @include set-size(100%, 1px);
        background: #ffffffaa;
      }
    }

    i {
      @include set-size-min-size(1.5rem, unset);
      text-align: center;
      margin-right: 0.25rem;
    }
  }
}
