@import 'variables';

@mixin set-z-index($position: relative, $index: 0) {
  position: $position;
  z-index: $index;
}

@mixin set-shadow($color: #000) {
  box-shadow: 0 3px 6px $color;
}

@mixin set-colors($bg: var(--background), $fg: unset) {
  background-color: $bg;
  color: $fg;
}

@mixin set-size-max-size($width: unset, $height: $width) {
  width: $width;
  height: $height;
  max-width: $width;
  max-height: $height;
}

@mixin set-size-min-size($width: unset, $height: $width) {
  width: $width;
  height: $height;
  min-width: $width;
  min-height: $height;
}

@mixin set-size($width: unset, $height: $width) {
  width: $width;
  height: $height;
}

@mixin set-max-size($width: unset, $height: $width) {
  max-width: $width;
  max-height: $height;
}

@mixin set-flex-direction($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@mixin set-flex-gap($gap: unset) {
  display: flex;
  gap: $gap;
}

@mixin set-flex($justify: unset, $align: $justify) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin hover-scale-up($scale: 1.025) {
  transition: transform .3s;
  
  &:hover {
    transform: scale($scale);
  }
}

@mixin set-ellipsis($width: false) {
  @if $width {
    width: $width;
    max-width: $width;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}