@import 'mixins';

.modal-backdrop {
  z-index: 9001 !important;
}

.modal {
  z-index: 9002 !important;
    
  .modal-dialog {
    @include set-flex(center);
    height: -webkit-fill-available;

    &.half-screen {
      max-width: 100%;
      
      .modal-content {
        @include set-size(50%);
      }
    }

    &.half-screen-higher {
      max-width: 100%;
      
      .modal-content {
        @include set-size(50%, 75%);
      }
    }

    &.fit-content {
      max-width: 100%;
      
      .modal-content {
        @include set-size(50%, fit-content);
      }
    }
    
    .modal-content {
      overflow: hidden;
      border-radius: 0;
      // border-radius: 20px;
      background-color: transparent;
    }
  }
}

.app-modal-container {
  @include set-flex-direction();
  height: 100%;

  .app-modal {
    @include set-size(100%, 100%);
    @include set-flex-direction();
    @include set-shadow(var(--dark-shadow));
    background-color: var(--modal-background);
    padding: 1rem;
    padding-bottom: 2rem;

    .header {
      @include set-flex(center);
      padding-bottom: .25rem;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
      border-bottom: 1px solid var(--modal-header-border);
    }

    .btn.cancel {
      border: 1px solid var(--dark-shade);
    }
    
    .inputs {
      height: 100%;
      padding-bottom: 2rem;
      
      .form-group {
        padding-bottom: 1rem;
      }
    }
  }
}