@import "~bootstrap/scss/bootstrap.scss";
@import "~ngx-toastr/toastr.css";
@import "~xterm/css/xterm.css";

@import "variables";
@import "mixins";
@import "animations";
@import "toast";
@import "terminal";
@import "modal";
@import "scroll";
@import "titlebar";
@import "dropdown";
@import "app-forms";
@import "app-loader";

@import "../assets/fontawesome/scss/fontawesome.scss";
@import "../assets/fontawesome/scss/solid.scss";
@import "../assets/fontawesome/scss/brands.scss";

html,
body {
  margin: 0;
  padding: 0;

  @include set-size(100%);
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  background: linear-gradient(to bottom right, var(--dark-shade), var(--light-accent)); 
  
  * {
    outline: none !important;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }

  .container {
    @include set-size-max-size(100%);
    background-color: var(--background);
    padding: 2rem;
    overflow: hidden;
  }
}

.rotated-icon {
  transform: rotate(-90deg);
}

.mirrored-icon {
  transform: rotate(-180deg);
}

.two-inline {
  display: flex;
  gap: 1rem;

  .form-group {
    width: 100%;
  }
}

.empty-message {
  @include set-size(100%, fit-content);
  @include set-colors(var(--card-group-color), var(--side-nav-color));
  @include set-shadow(var(--light-shadow));
  padding: 1rem;
  // border-radius: 20px;
}

.ng-drop-element-active {
  opacity: .75;
  // border-radius: 10px;
  background-color: #29AFEA55 !important;
}
