@import "variables";
@import "mixins";

.card {
  @include hover-scale-up();
  @include set-size-max-size(18rem, 10rem);
  @include set-flex-direction(column);
  @include set-shadow(var(--light-shadow));
  cursor: pointer;
  gap: 1rem;
  font-size: 0.85rem;
  overflow: hidden;
  padding: 1rem;
  // border-radius: 20px;
  background: var(--card-color);

  .data {
    div {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &.new-terminal {
    @include set-flex(center);
    
    i {
      font-size: 3rem;
      color: var(--card-accent-color);
    }

    span {
      font-size: 1.5rem;      
    }
  }

  b {
    color: var(--card-accent-color);
  }

  .name {
    color: var(--card-accent-color);
    font-weight: bold;
    font-size: 1rem;
  }

  .buttons {
    @include set-flex(flex-end, center);
    gap: 0.35rem;

    .btn {
      @include hover-scale-up(1.1);
      border-radius: 50%;
      width: fit-content;
    }
  }
}
