@import "variables";

.titlebar-dark-activity {
  &:not(.inactive) {
    color: #ffffff !important;

    .window-icon {
      background-color: #ffffff !important;
    }

    .window-title {
      color: #ffffff !important;
    }
  }

  &.inactive {
    color: #ffffffaa !important;

    .window-icon {
      background-color: #ffffffaa !important;
    }

    .window-title {
      color: #ffffffaa !important;
    }
  }
}

.titlebar {
  // transition: background .3s !important;
  background-repeat: no-repeat;
  z-index: 9000 !important;

  &.light {
    background-color: var(--background) !important;

    &:not(.inactive) {
      color: #aca2a2 !important;
    }

    &.inactive {
      color: #00000088 !important;
    }
  }

  &.custom-transparent {
    @extend .titlebar-dark-activity;
    background: transparent !important;
  }

  &.custom-dark {
    @extend .titlebar-dark-activity;
    background-color: var(--dark-titlebar) !important;
  }

  .window-appicon {
    background-size: 22px !important;
  }
}
