@import 'mixins';
@import 'variables';

.toast-container {
  @include set-flex-direction(column);
  align-items: flex-end;
}

.ngx-toastr {
  box-shadow: 0 3px 6px var(--dark-shadow) !important;
  width: fit-content !important;
  padding-right: 2rem !important;

  &.toast-success {
    background-color: rgba(var(--light-accent-rgb), .85) !important;
  }
  
  &.toast-error {
    background-color: rgba($color: $danger, $alpha: .85) !important;
  }

  .toast-message {
    padding-left: .75rem;
    white-space: pre-line;
  }
}
