$danger: #913945;

:root {
  --light-shade: #f3f1f4;
  --light-accent: #89b19e;
  --main-color: #249dd2;
  --dark-shade: #264564;
  --darker-shade: #223e5a;
  --darkest-shade: #1e3751;
  --dark-accent: #7b6b62;

  --dark-shade-rgb: 38, 69, 100;
  --darkest-shade-rgb: 30, 55, 81;
  --light-accent-rgb: 137, 177, 158;

  --light-shadow: #999;
  --dark-shadow: #555;

  --dark-titlebar: var(--dark-shade);
  --scroll-color: var(--darkest-shade);

  --text-color: #212529;
  --background: var(--light-shade);

  --side-nav-color: white;
  --side-nav-shadow: var(--darker-shade);
  --side-nav-background: var(--dark-shade);

  --card-color: white;
  --card-text-color: black;
  --card-accent-color: var(--light-accent);
  --card-group-color: var(--darkest-shade);

  --modal-background: var(--background);
  --modal-header-border: rgba(var(--dark-shade-rgb), 0.25);

  --input-color: var(--text-color);
  --input-border: #ced4da;
  --input-background: white;

  --file-browser-border: var(--light-accent);
  
  --file-transfer-pending: var(--light-shadow);
  --file-transfer-downloading: var(--dark-shade);

  --terminal-color: var(--dark-shade);
  --terminal-border-color: var(--darkest-shade);

  --searchbar-dark-color: var(--dark-shade);
  --searchbar-shadow: var(--darkest-shade);

  --dropdown-color: var(--darkest-shade);

  &.dark {
    --dark-mode-shade: #111;
    --dark-mode-light-shade: #222;
    --dark-mode-lighter-shade: #333;

    --background: var(--dark-mode-shade);
    --text-color: white;
    --light-shadow: #252525;

    --card-color: var(--dark-mode-light-shade);
    --card-group-color: var(--light-accent);

    --dark-titlebar: var(--background);
    --scroll-color: var(--dark-mode-lighter-shade);

    --modal-background: var(--card-color);
    --modal-header-border: rgba(var(--light-accent-rgb), 0.4);

    --input-border: #444;
    --input-color: var(--text-color);
    --input-background: #353535;

    --side-nav-shadow: var(--card-color);
    --side-nav-background: var(--background);

    --file-browser-border: var(--card-color);
    
    --file-transfer-pending: #999;
    --file-transfer-downloading: var(--main-color);

    --terminal-color: var(--background);
    --terminal-border-color: var(--card-color);
    
    --searchbar-dark-color: var(--dark-mode-shade);
    --searchbar-shadow: var(--dark-mode-lighter-shade);

    --dropdown-color: var(--card-color);
  }
}
