<app-searchbar *ngIf="searchEnabled" (disable)="searchEnabled = false" 
  (findNext)="findNext($event)" (findPrevious)="findPrevious($event)"></app-searchbar>

<div class="tools">
  <div class="actions-group">
    <div class="btn-group dropdown-group" dropdown #commandDropdown="bs-dropdown">
      <button class="btn no-animation" dropdownToggle (click)="shortcutDropdown.hide()">
        <i class="fas fa-terminal"></i>
      </button>

      <ul class="dropdown-menu" *dropdownMenu>
        <li *ngFor="let command of commands" (click)="useCommand(command)">{{ command.name }}</li>
        <li *ngIf="!commands.length"><i>No commands</i></li>

        <li class="divider-container">
          <div class="divider"></div>
        </li>

        <li class="action-with-icon" (click)="newCommandForm()">
          <i class="fas fa-plus"></i>
          New command
        </li>
      </ul>
    </div>

    <div class="btn-group dropdown-group" dropdown #shortcutDropdown="bs-dropdown">
      <button class="btn no-animation" dropdownToggle (click)="commandDropdown.hide()">
        <i class="fas fa-folder"></i>
      </button>

      <ul class="dropdown-menu" *dropdownMenu>
        <li *ngFor="let shortcut of shortcuts" (click)="useShortcut(shortcut)">{{ shortcut.name }}</li>
        <li *ngIf="!shortcuts.length"><i>No shortcuts</i></li>

        <li class="divider-container">
          <div class="divider"></div>
        </li>

        <li class="action-with-icon" (click)="newShortcutForm()">
          <i class="fas fa-plus"></i>
          New shortcut
        </li>
      </ul>
    </div>
    
    <button (click)="splitVert.next()" class="btn no-animation">
      <i class="fas fa-columns"></i>
    </button>
    <button (click)="splitHoriz.next()" class="btn no-animation">
      <i class="fas fa-columns rotated-icon"></i>
    </button>
    <button (click)="sessionEnded.next()" class="btn no-animation">
      <i class="fas fa-trash"></i>
    </button>
  </div>
</div>

<div class="ssh-terminal-container">
  <div class="ssh-terminal" #terminalElem></div>
</div>