@import "variables";
@import "mixins";

:host {
  @include set-size-max-size(100%);
  @include set-flex-direction(column);
  position: relative;

  app-searchbar {
    @include set-z-index(absolute, 10);
    top: 0.5rem;
    right: 1rem;
  }

  .tools {
    @include set-size-min-size(100%, max-content);
    @include set-flex(flex-end, center);
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    .actions-group {
      @include set-flex-gap(0.5rem);

      .btn {
        padding: 0.25rem;
        background-color: transparent;
      }
    }
  }

  .ssh-terminal-container {
    @include set-size-max-size(100%);
    overflow: hidden;
    background-color: var(--terminal-color);
    padding-left: 0.75rem;

    .ssh-terminal {
      @include set-size-max-size(100%);
      overflow: hidden;
    }
  }
}
