<div class="app-modal-container">
  <div class="app-modal">
    <div class="header">{{card.uuid ? 'Edit' : 'New'}} command</div>

    <div class="inputs">
      <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="card.name">
      </div>
      <div class="form-group select-form">
        <label class="form-label">SSH connection</label>
        <select type="text" class="form-control" [disabled]="!connections.length" [(ngModel)]="card.connectionId">
          <option *ngIf="!connections.length" value="">No connections defined</option>
          <option value="">Local terminal</option>
          <option *ngFor="let connection of connections" [value]="connection.uuid">{{connection.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label">Location</label>
        <input type="text" class="form-control" [(ngModel)]="card.location">
      </div>
      <div class="form-group">
        <label class="form-label">Command</label>
        <textarea rows="5" class="form-control" [(ngModel)]="card.command"></textarea>
      </div>
    </div>

    <div class="two-inline">
      <button (click)="cancel()" class="btn cancel icon-btn">
        <i class="fas fa-times"></i>
        <span>Cancel</span>
      </button>

      <button (click)="save()" class="btn icon-btn">
        <i class="fas fa-save"></i>
        <span>Save</span>
      </button>
    </div>
  </div>
</div>
