<div class="app-container container">
  <app-terminal-list [@hideLeft]="terminalList.isHidden" #terminalList></app-terminal-list>

  <div *ngFor="let terminalGroup of terminalGroups" [hidden]="selectedGroup !== terminalGroup"
    class="terminal-container">
    <app-terminal-group [data]="terminalGroup"></app-terminal-group>
  </div>

  <div class="container" *ngIf="!selectedGroup">
    <app-searchbar class="white" *ngIf="searchEnabled" (find)="onSearch($event)"
      [noArrows]="true" (disable)="onSearchDisable()"></app-searchbar>
    
    <div class="connection-cards">            
      <div [@scaleDown]="'in'">
        <div (click)="newLocalTerminal()" class="card new-terminal">
          <i class="fas fa-terminal"></i>
          <b>Local terminal</b>
        </div>
      </div>

      <div [@scaleDown]="'in'">
        <div class="card new-terminal" (click)="switchTheme()">
          <i class="fas fa-adjust"></i>
          <b>Switch theme</b>
        </div>
      </div>

      <div [@scaleDown]="'in'">
        <div class="card new-terminal" (click)="resetToPassphrase()">
          <i class="fas mirrored-icon fa-sign-out-alt"></i>
          <b>Log out</b>
        </div>
      </div>
    </div>

      <div class="card-group" #sshGroup>
        <div class="card-group-title" (click)="sshGroup.classList.toggle('hidden')">
          <span>
            <i class="fas fa-terminal"></i>
            SSH connections
          </span>

          <div class="add-new" (click)="cardService.openCardForm(); $event.stopPropagation()">
            <i class="fas fa-plus"></i>
            <span>New connection</span>
          </div>
          
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="connection-cards" *ngIf="cards.length; else noConnections">
          <app-card *ngFor="let card of cards; let i = index"
            [@scaleDown]="'in'"
            [draggable]="!searchEnabled" dragElement
            [dropElementParent]="sshGroup" #cardElem 
            [card]="card" 
            (connectCard)="connectCard($event)"
            (deleteCard)="cardService.deleteCard($event)"
            (connectExternal)="connectExternal($event)"
            (selectCard)="cardService.openCardForm($event)"
            (fileTransfer)="openFileTransfer($event)"
            (elementDropped)="connectionDropped(card, i, $event)"
          ></app-card>
        </div>

        <ng-template #noConnections>
          <div class="empty-message">No SSH connections defined.</div>
        </ng-template>
      </div>

      <div class="card-group" #shortcutGroup>
        <div class="card-group-title" (click)="shortcutGroup.classList.toggle('hidden')">
          <span>
            <i class="fas fa-folder"></i>
            Shortcuts
          </span>

          <div (click)="cardService.openShortcutForm(); $event.stopPropagation()" class="add-new">
            <i class="fas fa-plus"></i>
            <b>New shortcut</b>
          </div>
          
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="connection-cards" *ngIf="shortcuts.length; else noShortcuts">
          <div [@scaleDown]="'in'">
            <div (click)="cardService.openShortcutForm()" class="card new-terminal">
              <i class="fas fa-folder"></i>
              <b>New shortcut</b>
            </div>
          </div>
    
          <app-shortcut-card #shortcutElem
            [draggable]="!searchEnabled"
            [dropElementParent]="shortcutGroup"
            dragElement (elementDropped)="shortcutDropped(shortcut, i, $event)"
            [@scaleDown]="'in'" *ngFor="let shortcut of shortcuts; let i = index"
            [card]="shortcut" (connectCard)="connectShortcut($event)"
            (deleteCard)="cardService.deleteShortcut($event)" 
            (connectExternal)="connectExternalShortcut($event)"
            (selectCard)="cardService.openShortcutForm($event)"></app-shortcut-card>
        </div>

        <ng-template #noShortcuts>
          <div class="empty-message">No shortcuts defined.</div>
        </ng-template>
      </div>

      <div class="card-group" #commandGroup>
        <div class="card-group-title" (click)="commandGroup.classList.toggle('hidden')">
          <span>
            <i class="fas fa-scroll"></i>
            Commands
          </span>

          <div class="add-new" (click)="cardService.openCommandForm(); $event.stopPropagation()">
            <i class="fas fa-plus"></i>
            <b>New command</b>
          </div>

          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="connection-cards" *ngIf="commands.length; else noCommands">
          <app-command-card [draggable]="!searchEnabled" dragElement #commandElem
            [dropElementParent]="commandGroup"
            (elementDropped)="commandDropped(command, i, $event)"
            [@scaleDown]="'in'" *ngFor="let command of commands; let i = index"
            [card]="command" (connectCard)="executeCommand($event)"
            (deleteCard)="cardService.deleteCommand($event)"
            (selectCard)="cardService.openCommandForm($event)"></app-command-card>
        </div>

        <ng-template #noCommands>
          <div class="empty-message">No commands defined.</div>
        </ng-template>
      </div>
  </div>
</div>