@import 'variables';
@import 'mixins';
@import 'terminal-card';

:host {  
  .app-container {
    padding: 0;
    display: flex;

    app-searchbar {
      @include set-z-index(absolute, 10);
      top: 1rem;
      right: 1rem;
    }
    
    .terminal-container {
      @include set-size-max-size(100%);
      background-color: var(--terminal-color);
      overflow: hidden;
    }
    
    .container {
      @include set-flex-gap(2rem);
      @include set-size-max-size(100%);
      flex-direction: column;
      overflow: auto;

      .card-group {
        @include set-flex-direction(column);

        &.hidden {
          .connection-cards, .empty-message {
            display: none;
          }
        }
        
        .card-group-title {
          @include set-flex(space-between, center);
          cursor: pointer;
          font-weight: bold;
          color: var(--card-group-color);
          margin-bottom: 1rem;
          padding-bottom: .25rem;
          padding-right: .5rem;
          padding-left: .5rem;
          border-bottom: 1px solid var(--card-group-color);

          span:first-of-type {
            width: 100%;
          }

          .add-new {
            min-width: fit-content;
            padding-right: 2rem;
          }

          i {
            margin-right: .5rem
          }
        }
      }
      
      .connection-cards {
        @include set-flex-gap(1rem);
        width: 100%;
        padding-bottom: 1rem;
        align-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }
}