@import "mixins";
@import "variables";

:host {
  z-index: 1;
  display: flex;
  position: relative;
  box-shadow: 0rem 0rem .75rem var(--side-nav-shadow);

  .hide-container {
    @include set-flex(center);
    @include set-size-min-size(2rem, 100%);
    @include set-colors(var(--side-nav-background), var(--side-nav-color));
    cursor: pointer;
  }

  .terminal-list {
    @include set-size-min-size(15rem, 100%);
    @include set-size-max-size(15rem, 100%);
    @include set-colors(var(--side-nav-background), var(--side-nav-color));
    overflow-y: auto;
    padding: 1rem;
    padding-right: 0.5rem;

    .terminal-children {
      padding-left: 1rem;
    }

    .terminal-item {
      @include set-flex(space-between, center);
      @include set-size-max-size(100%, unset);
      gap: 0.5rem;
      padding: 0.35rem;

      &.active {
        .name {
          opacity: 1;
        }
      }

      &:hover {
        .name {
          opacity: 1;
        }

        .buttons .btn {
          transform: scale(1);
        }
      }

      .name {
        @include set-ellipsis(100%);
        @include set-colors(transparent, var(--side-nav-color));
        transition: opacity 0.3s;
        border: none;
        opacity: 0.5;
        width: 100%;
      }

      .buttons {
        @include set-flex-gap(0.25rem);
        width: fit-content;

        .btn {
          @include set-size(2rem);
          @include hover-scale-up(1.1);
          transform: scale(0);
          transition: transform 0.3s;
          padding: 0;
          border-radius: 50%;
        }
      }
    }
  }
}
