<div class="terminal-list" *ngIf="terminalGroups.length">
  <div class="terminal-item" [class.active]="!selectedGroup">
    <i class="fas fa-home"></i>
    <span class="name">Home</span>

    <div class="buttons">
      <button class="btn" (click)="selectTerminal(-1)">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div class="terminal-groups" #terminalGroupsElem>
    <div class="terminal-group ng-drop-element" #terminalGroupElem
      *ngFor="let terminalGroup of terminalGroups; let i = index">
      <div class="terminal-item" [class.active]="selectedGroup === terminalGroup">
        <i class="fas fa-folder"></i>
        <input [(ngModel)]="terminalGroup.name" class="name">
    
        <div class="buttons">
          <button class="btn danger" (click)="deleteTerminal(i)">
            <i class="fas fa-times"></i>
          </button>
          <button class="btn" (click)="selectTerminal(i)">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
  
      <div class="terminal-children" *ngIf="selectedGroup === terminalGroup">
        <div class="terminal-item" *ngFor="let child of terminalChildren(terminalGroup)"
          draggable="true" dragElement [dropElementParent]="terminalGroupsElem"
            [multiplierX]="4" [multiplierY]=".75" (elementDropped)="swapTerminalGroup(i, child, $event)">
          <i class="fas fa-terminal"></i>
          <input [(ngModel)]="child.name" class="name">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hide-container" (click)="switchHide()" *ngIf="terminalGroups.length">
  <i *ngIf="!isHidden" class="fas fa-chevron-left"></i>
  <i *ngIf="isHidden" class="fas fa-chevron-right"></i>
</div>