@import "variables";
@import "mixins";

:host {
  .with-btn {
    display: flex;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      width: 3.5rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
