<div class="app-modal-container">
  <div class="app-modal">
    <div class="header">{{card.uuid ? 'Edit' : 'New'}} connection</div>
    
    <div class="inputs">
      <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="card.name">
      </div>
      <div class="two-inline">
        <div class="form-group">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" [(ngModel)]="card.username">
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <div class="with-btn">
            <input [type]="show ? 'text' : 'password'" class="form-control" [(ngModel)]="card.password">
            <button (click)="show = !show" class="btn">
              <i class="fas fa-eye" *ngIf="!show"></i>
              <i class="fas fa-eye-slash" *ngIf="show"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="two-inline">
        <div class="form-group">
          <label class="form-label">Address</label>
          <input type="text" class="form-control" [(ngModel)]="card.address">
        </div>
        <div class="form-group">
          <label class="form-label">Port</label>
          <input type="number" (keydown.e)="$event.preventDefault()" class="form-control" [(ngModel)]="card.port">
        </div>
      </div>
    </div>

    <div class="two-inline">
      <button (click)="cancelCard()" class="btn cancel icon-btn">
        <i class="fas fa-times"></i>
        <span>Cancel</span>
      </button>

      <button (click)="save()" class="btn icon-btn">
        <i class="fas fa-save"></i>
        <span>Save</span>
      </button>
    </div>
  </div>
</div>
