@import "mixins";
@import "variables";

:host {
  @include set-flex-direction(column);
  @include set-size-max-size(100%);
  overflow: hidden;

  .terminals {
    @include set-size-max-size(100%);
    display: flex;
    overflow: hidden;

    .terminal-ended {
      @include set-size(100%, fit-content);
      @include set-flex(center);
      padding-top: 2rem;

      .message {
        @include set-colors($danger, var(--side-nav-color));
        @include set-shadow(var(--terminal-border-color));
        width: fit-content;
        padding: 0.75rem;
        // border-radius: 20px;
      }
    }

    .terminal-column {
      @include set-size-max-size(100%);
      @include set-flex-direction(column);
      overflow: hidden;

      &:not(:last-of-type) {
        // resize: horizontal;
        // cursor: col-resize;
        border-right: 2px solid var(--terminal-border-color);
      }

      .terminal-container {
        @include set-size-max-size(100%);
        background-color: var(--terminal-color);
        overflow: hidden;

        &:not(.active) {
          opacity: 0.9;
        }

        &:not(:last-of-type) {
          // cursor: row-resize;
          // resize: vertical;
          border-bottom: 2px solid var(--terminal-border-color);
        }
      }
    }
  }
}
