<div class="terminals">
  <!-- (drag)="resizeTerminal($event, terminalColumn)" draggable="true" [style.flex]="terminalColumn.width" -->
  <div #terminalGroup *ngFor="let terminalColumn of data.columns; let groupIndex = index" class="terminal-column">
    <div draggable="false" *ngFor="let terminal of terminalColumn.terminals; let terminalIndex = index"
      [style.width]="terminal.width + '%'" [class.active]="terminal === selectedTerminal" class="terminal-container">

      <app-terminal *ngIf="!terminal.isFileTransfer" tabindex="0" [id]="groupIndex + '-' + terminalIndex"
        [terminalId]="groupIndex + '-' + terminalIndex" #terminalElement (moveFocus)="moveFocus($event)"
        (terminalSelected)="selectTerminal(terminal)" (sessionEnded)="deleteTerminal(terminal)"
        (click)="selectTerminal(terminal)" (splitHoriz)="splitRows()" (splitVert)="splitColumns()" [data]="terminal"
        class="tt">
      </app-terminal>

      <app-file-transfer *ngIf="terminal.isFileTransfer" [connection]="terminal.card"
        (exit)="deleteTerminal(terminal)"></app-file-transfer>
    </div>
  </div>

  <div class="terminal-ended" *ngIf="!data.columns.length">
    <div class="message">
      No active terminals present
    </div>
  </div>
</div>