@import "variables";
@import "mixins";

:host {
  @include set-size(100%);

  .app-modal {
    gap: 1rem;

    .actions {
      @include set-flex(flex-end, center);
      margin-top: 1rem;
      gap: 1rem;

      .btn {
        width: fit-content;
      }
    }
  }
}
