<div class="app-modal-container">
  <div class="app-modal">
    <div class="header">New configuration</div>

    <div class="form-group">
      <label class="form-label">File name</label>
      <input type="text" [(ngModel)]="fileName" class="form-control">
    </div>

    <div class="form-group input-with-button">
      <label class="form-label">File path</label>

      <div class="two-inline">
        <input type="text" [(ngModel)]="filePath" readonly class="form-control">

        <button class="btn dark" (click)="openBrowser()">
          <i class="fas fa-folder"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Passphrase</label>
      <input type="password" [(ngModel)]="passphrase" class="form-control">
    </div>

    <div class="actions">
      <button (click)="exit()" class="btn cancel with-icon">
        <i class="fas fa-times"></i>
        Cancel
      </button>

      <button (click)="save()" class="btn with-icon">
        <i class="fas fa-save"></i>
        Save configuration
      </button>
    </div>
  </div>
</div>