<div class="container">
  <div class="middle-box">
    <div class="logo-container">
      <img src="assets/icons/favicon.png" [class.loading]="isShaking" alt="">
    </div>
    <div class="form">
      <div class="form-group input-with-button">
        <label class="form-label">
          Enter passphrase
        </label>

        <div class="two-inline">
          <input type="password" [(ngModel)]="passphrase" (keyup.enter)="loadData()" class="form-control">

          <button class="btn dark" (click)="loadData()">
            <i class="fas fa-lock"></i>
          </button>
        </div>
      </div>

      <div class="more-actions">
        <button class="btn with-icon dark" (click)="changeFile()">
          <i class="fas fa-file"></i>
          <span>{{ fileName || 'Select a configuration file' }}</span>
        </button>

        <button class="btn with-icon dark" (click)="newFile()">
          <i class="fas fa-plus"></i>
          <span>Add new configuration file</span>
        </button>
      </div>
    </div>
  </div>
</div>