@import "variables";
@import "mixins";

:host {
  .container {
    @include set-flex(center);
    position: relative;
    background: linear-gradient(
      to bottom right,
      var(--dark-shade),
      var(--light-accent)
    );

    .middle-box {
      @include set-shadow(var(--dark-shade));
      @include set-size(40rem, 27rem);
      @include set-flex-gap(1rem);
      position: relative;
      z-index: 1;
      // border-radius: 20px;
      color: white;
      background-color: rgba(var(--darkest-shade-rgb), 0.25);

      input {
        @include set-colors(white !important, black !important);
      }

      .logo-container {
        @include set-flex(center);
        flex: 1;
        pointer-events: none;
        padding: 1rem;
        padding-left: 1.5rem;
        min-width: 40%;

        img {
          @include set-shadow(var(--dark-shade));
          animation: pulse 3s infinite;
          border-radius: 50%;
          width: 100%;

          &.loading {
            animation: shake linear 0.5s infinite;
          }
        }
      }

      .form {
        @include set-flex-direction(column);
        width: 100%;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        flex: 1.25;
        padding: 1rem;
        padding-right: 1.5rem;

        .more-actions {
          @include set-flex(flex-end);
          flex-direction: column;
          gap: 0.75rem;

          .btn {
            width: 100%;
            height: 2.25rem;

            span {
              @include set-ellipsis(100%);
              width: 100%;
              text-align: center;
            }
          }
        }

        .form-group {
          @include set-flex-direction(column);
          width: 100%;
        }
      }
    }
  }
}
